@import "fonts";
@import "rouge-github";

.left-bio {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  column-gap: 15px;
  row-gap: 5px;

  margin-bottom: 50px;

  .bio-image {
    grid-column: 1 / 2;
    grid-row: 1 / end;
    align-self: center;
  }

  .bio-name {
    grid-column: 2 / end;
    grid-row: 1 / 2;
    align-self: start;

    .bio-title {
      font-style: italic;
    }
  }

  .bio-text {
    grid-column: 2 / end;
    grid-row: 2 / end;

    ul {
      padding-left: 12px;
    }
  }
}

.right-bio {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto;
  column-gap: 15px;
  row-gap: 5px;

  margin-bottom: 50px;

  .bio-image {
    grid-column: 2 / end;
    grid-row: 1 / end;
    align-self: center;
  }

  .bio-name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    .bio-title {
      font-style: italic;
    }
  }

  .bio-text {
    grid-column: 1 / 2;
    grid-row: 2 / end;

    ul {
      padding-left: 12px;
    }
  }
}

.current {
    font-weight: bold;
    color:black;
    margin-right: 10px;
}

.nav {
    color: black;
    margin-right: 10px;
}

ul.nav-ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  list-style-position: inside;
}

ul.sections {
  list-style-type: "§";
}

ul.social-ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  list-style-position: inside;
}

p.footer {
  text-align: center;
}

p.header {
  text-align: center;
}

li.nav-li {
  display: inline-block;
}

li.social-li {
  display: inline;
  margin-inline: 10px;

  img {
    height: 25px;
  }
}

.nav:hover, .nav:focus {
    color:white;
    background-color: black;
    font-weight: bold;
}

.current:hover, .current:focus {
    color:white;
    background-color: black;
    font-weight: bold;
}

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:black;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:black;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

select {
  border-radius: 5px;
  background-color: #fff;
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  padding: 4px;
  padding-right: 0px;
  text-align: center;
  cursor: pointer;
}

.results {
  display: none;
  
  #r-2023 {
    display: block;
  }
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:black;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:black;
}

.wrapper {
  width:90%;
  margin:0 auto;
}

section {
  width:73%;
  float:right;
  padding-bottom:50px;
}

header {
  width:17%;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

footer {
  width:17%;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
}

.bios {
  border: 0px none;
  vertical-align: center;
}

.btwn-line {
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:black;
}

img {
  max-width:100%;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

strong {
  color:black;
  font-weight:700;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

.list {
  font-family: 'Computer Modern';
  font-weight: normal;
}

h1.list {
  text-align: center;
  font-weight: normal;
}

h2.list {
  font-weight: bold;
  margin-left: 25px;
}

h3.list_title {
  text-align: center;
  font-weight: normal;
}

p.page_number {
  text-align: center;
  margin-bottom: 20%;
}

.wrapper-isha {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 3fr 1fr;
  border: 5px solid black;

  .bab-top {
    display: flex;
    background-color: #0155A2;
    border-bottom: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    align-content: center;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / end;

    img {
      width: 60%;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }

  .bab-items {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #c7c7c7;
    border: 1rem solid #0155A2;

    .bab-row {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
      border-bottom: 1rem solid #aaa;

      img {
        width: 7rem;
      }
    }
  }

  .bab-select-screen {
    grid-row: 2 / 3;
    grid-column: 2 / end;
    background-color: #0155A2;
    border-left: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .bab-screen {
      display: flex;
      border: 3px solid black;
      width: 80%;
      justify-content: center;
      align-items: center;
      padding: 5rem 0;
      background-color: #00a0dd;

      img {
        width: 4rem;
      }
    }

    .hugs-inside {
      color: white;
      border: 3px solid black;
      margin-top: 3rem;
      font-family: 'Comic Sans MS', sans-serif;
      font-size: 1.25rem;
      text-align: center;
      width: 70%;
    }
  }

  .stripey-bottom {
    grid-row: 3 / end;
    grid-column: 1 / end;
    border-top: 5px solid black;

    .pink-stripe {
      background-color: #ee365d;
      height: 30px;
      margin-top: 5px;
    }

    .yellow-stripe {
      background-color: #ffd400;
      height: 20px;
      margin-top: 5px;
    }

    .green-stripe {
      background-color: #30b14a;
      height: 7px;
      margin-top: 3px;
    }

    .blue-stripe {
      background-color: #00a0dd;
      height: 20px;
      margin-top: 7px;
      margin-bottom: 3px;
    }
  }
}

.lila-bio {
  strong {
    color: #00B050;
  }
}

.wrapper-snake {
  canvas {
    background-color: #fff;
    box-sizing: border-box;
    outline: 2px solid black;
  }

  input[type=checkbox] {
    margin: 5px 5px 0 0;
  }

  label,
  .game-btn {
    cursor: pointer;
  }

  canvas,
  .game-area,
  .overlay,
  .game-details {
    width: 100%;
  }

  canvas,
  .game-area,
  .overlay {
    height: 99%;
  }

  .hidden {
    display: none;
  }

  margin-top: 10px;

  .buttons,
  .difficulty {
    width: 100%;
  }

  .game-area,
  .game-btn,
  .game-details {
    position: relative;
  }

  .game-area,
  .game-details {
    margin: auto;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }

  .overlay,
  .buttons,
  .difficulty,
  .score-txt {
    position: absolute;
  }

  .buttons {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .game-btn {
    border: 2px solid #fff;
    border-radius: 5px;
    width: 200px;
    line-height: 60px;
    margin: 15px 0;
    background: transparent;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .game-btn:hover {
    background: #eee;
    border: 2px solid #eee;
    color: #000;
  }

  .game-msg {
    margin: 50px 0 10px;
    padding: 0 10px;
  }

  .hint {
    margin: 8px 0;
    font-size: 0.8em;
  }

  .difficulty {
    bottom: 50px;
  }

  #finalScore,
  .difficulty p {
    margin: 5px 0;
  }

  .overlay p,
  .game-btn,
  .difficulty div {
    color: #fff;
    font-size: 1.25em;
    text-align: center;
  }

  .score-txt {
    right: 0;
    top: 1px;
    margin: 0;
  }

  .hint span,
  .score-txt span:first-child {
    font-weight: bold;
  }

  .radio-field {
    margin: 0 10px;
    display: inline-block;
  }

  .radio-field label {
    font-size: 0.75em;
  }

}

@media print, screen and (max-width: 992px) {
  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  section {
    padding:20px 0;
    margin:0 0 20px;
  }

  header {
    display: block;
    align-items: center;
    justify-items: center;
    padding-bottom: 20px;
  }

  header a small {
    max-width: 50%;
    margin: 0 auto;
  }

  header ul {
    margin: 0 auto;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    color:black;
    margin:0 0 20px;
    text-align: center;
  }

  p, li, td, th {
    font-size: 18px;
  }

  .left-bio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
  
    margin-bottom: 50px;
  
    .bio-image {
      grid-column: 1 / end;
      grid-row: 1 / 2;
      align-self: center;
    }
  
    .bio-name {
      grid-column: 1 / end;
      grid-row: 2 / 3;
      align-self: start;
  
      .bio-title {
        font-style: italic;
      }
    }
  
    .bio-text {
      grid-column: 1 / end;
      grid-row: 3 / end;
  
      ul {
        padding-left: 12px;
      }
    }
  }
  
  .right-bio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
  
    margin-bottom: 50px;
  
    .bio-image {
      grid-column: 1 / end;
      grid-row: 1 / 2;
      align-self: center;
    }
  
    .bio-name {
      grid-column: 1 / end;
      grid-row: 2 / 3;
  
      .bio-title {
        font-style: italic;
      }
    }
  
    .bio-text {
      grid-column: 1 / end;
      grid-row: 3 / end;
  
      ul {
        padding-left: 12px;
      }
    }
  }

  small {
    font-size:14px;
  }
}