<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}"><img src="/assets/images/logo.gif" alt="Scav logo" /></a>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% include navigation.html %}
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        
      </footer>
    </div>
  </body>
</html>